<!DOCTYPE html>
<html>
  <head>
    <title>Info Page</title>
  </head>
  <body>
    <h1>Info Page</h1>
    <p>This is the info page: here's some information about me!</p>
    <p>My name is Bella. My favorite color is blue. My favorite animal is the dachshund.  My favorite artist is Breaking Benjamin.</p>
  </body>
</html>